<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Visual pleasures</h2>
                <hr class="light">
                <p class="text-faded">A room without character is just a waste of space. This is what motivated Vestalux to create objects that transform spaces to homes. </p>
                <a href="#contact" class="btn btn-default btn-xl">more</a>
            </div>
        </div>
    </div>
</section>
